.back{
    color: #f8f9fc;
  font-variant: small-caps;
}
body {
  background-color: #f8f9fc;
}
.list-group{
  padding-top: 20px;
}
#wrapper {
  overflow-x: hidden;
}
.page-title{
  margin-top: 80px;
  margin-bottom: 25px;
}
/* .bi{
  padding-left: 25px;
} */
.sb-topnav{
  padding-left: 240px;
}
  /* h3{
    padding-left: 30px;
    padding-top: 18px;
  } */
#menu-toggle{
  margin-left: 55px;
  margin-top: 11px;
}
#sidebar-wrapper {
    min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}
.list-group-item{
  padding-left: 45px;
  font-variant: small-caps;
  color: #f8f9fc;
  font-size: 18px;
  }
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.card-statistics {
  border: solid 1px;
  border-radius: 6px;
}
.card-statistics.card-1 {
  border-left: solid blue 4px;
  background-color: white;
}
.card-statistics.card-2 {
  border-left: solid yellow 4px;
  background-color: white;
}
.card-statistics.card-3 {
  border-left: solid red 4px;
  background-color: white;
}
.card-statistics.card-4 {
  border-left: solid green 4px;
  background-color: white;
}
.card-statistics .card-body .card-title {
  /* text-transform: uppercase; */
  font-size: 0.8em;
  padding-top: 5px;
  /* margin-bottom: rem; */
}
.card-statistics.card-1 .card-body .card-title {
  color: black;
}
.card-statistics.card-2 .card-body .card-title {
  color: black;
}
.card-statistics.card-3 .card-body .card-title {
  color: black;
}
.card-statistics.card-4 .card-body .card-title {
  color: black;
}
.card-statistics .card-body .card-text {
  font-size: 0.7em;
  font-weight: 350px;
  color: black;
}
.Tables{
  margin-top:10px ;
}
.form {
   line-height: 20px;
   word-spacing: 20px;
/* background-color: rgb(219, 235, 234); */
   /* margin: 50px;
  padding: 40px; */
  background-image: url(../images/coronavirus-dark-1200x800-CDC-CROPPED1111.jpg);
background-repeat: no-repeat;
background-size: contain;
color:white;
}
.content{
  padding-left: 150px;
}
.side-icon{
  padding-right: 15px;
  position: ;
}
.tab{
  display:none;
}
.frm{
  display:none;
}.par{
  font-size: 20px;
}
.sb-topnav .bt{
  position: fixed;
}
h3{
  color: #f8f9fc;
  position: fixed;
}