

body{
  background-color: #f8f9fc;
  
 }
 .list-group-item{
   color: white;
 }
  #wrapper {
     overflow-x: hidden;
  }
 
 #sidebar-wrapper {
   min-height: 100vh;
   margin-left: -15rem;
   -webkit-transition: margin .25s ease-out;
   -moz-transition: margin .25s ease-out;
   -o-transition: margin .25s ease-out;
   transition: margin .25s ease-out;
 }
 
 #sidebar-wrapper .sidebar-heading {
   padding: 0.875rem 1.25rem;
   font-size: 1.2rem;
 }
 
 #sidebar-wrapper .list-group {
   width: 15rem;
 }
 
 #page-content-wrapper {
   min-width: 100vw;
 }
 
 #wrapper.toggled #sidebar-wrapper {
   margin-left: 0;
 }
 
 @media (min-width: 768px) {
   #sidebar-wrapper {
     margin-left: 0;
   }
 
   #page-content-wrapper {
     min-width: 0;
     width: 80%;
   }
 .page-title{
   padding-top: 50px;
 }
   #wrapper.toggled #sidebar-wrapper {
     margin-left: -15rem;
   }
 }
 
 .statistics{
     margin-bottom: 20px;
 }
 .card-statistics{
     border: none;
     /* border-left: solid 4px; */
     /* border-radius: 10px; */
 }
 .card-statistics.varient-1{
  background-color: #dc3545 ;
  /* box-shadow: 0 0 10px black; */
 }
 .card-statistics.varient-2{
  background-color: #ffc107 ;
  /* box-shadow: 0 0 10px black; */
 }
 .card-statistics.varient-3{
  background-color: #28a745 ;
  /* box-shadow: 0 0 10px black; */
 }
 .card-statistics.varient-4{
  background-color: #007bff;
  /* box-shadow: 0 0 10px black; */
 }

 .card-statistics .card-body .card-title{
     /* text-transform: uppercase; */
     font-size: 1em;
     padding-top: 5px;
     /* margin-bottom: rem; */
 }
 .card-statistics.varient-1 .card-body .card-title{
     color: white;
     
 }
 .card-statistics.varient-2 .card-body .card-title{
     color: white;
     
 }
 .card-statistics.varient-3 .card-body .card-title{
     color: white;
 }
 .card-statistics.varient-4 .card-body .card-title{
     color: white;
 }
 .card-statistics .card-body .card-text{
     font-size: 0.9em;
     font-weight: 400px;
     color: white;
 }
.sidebar-heading{
  color: white;
}
.page-content{
  margin:30px 0 0 0;
}
.page-title{
  margin-top: 30px;
}
.button{
  margin-left: 30rem;
}
.user{
  width: 75%;
  margin-top: 10%;
  margin-left: 280px;
  /* box-shadow: 1px solid black; */
  /* margin-top:50%; */
  /* background-color: blue; */
}
label{
  color: black;
}
/* button{
  color: whitesmoke;
}
.btn.btn-flat {
  border-radius: 0;
  border-width: 1px;
  box-shadow: white;
} */
/* .btn{
  margin-left: 15%;
} */
/* .search{
  background-color: royalblue;
} */
.sidebar{
  position: fixed;
  width: 15.6rem;
}
.entire{
  width: 60px;
  margin-left: 250px;
}
.side-icon{
  padding-right: 15px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
#tb{
  width: 50%;
}
.btn-lg{
  margin-left: 80%;
}
.patients{
  padding-top: 9px;
}
.bttn{ 
  text-align: center;
}
.edit{
  margin-left: 20px;
}
.table-row{
  margin-left: 50px;
  margin-top: 20px;
}