.ca1
{
  background-color: blue;
  border-radius: 0.25rem;
}
.ca2{
  background-color: yellow;
  border-radius: 0.25rem;
}
.ca3{
  background-color:green;
  border-radius: 0.25rem;
}
.ca4{
  background-color:red;
  border-radius: 0.25rem;
}
.active{
  background-color: white;
  display: flex; 
    
    padding: 0.75rem 1rem;

    background-color: #e9ecef;
    
}
