body {
    background-color: #f8f9fc;
    font-size: large;
}
tab
.list-group {
    padding-top: 30px;
}

.list-group-item {
    color: white;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    .page-title {
        padding-top: 50px;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.statistics {
    margin-bottom: 20px;
}

.card-statistics {
    border: none;
    /* border-left: solid 4px; */
    /* border-radius: 10px; */
}

.card-statistics.varient-1 {
    background: linear-gradient(rgb(216, 92, 160), rgb(134, 5, 134));
    /* box-shadow: 0 0 10px black; */
}

.card-statistics.varient-2 {
    background: linear-gradient(rgb(224, 224, 27), rgb(209, 151, 44));
    /* box-shadow: 0 0 10px black; */
}

.card-statistics.varient-3 {
    background: linear-gradient(rgb(120, 202, 120), rgb(7, 109, 7));
    /* box-shadow: 0 0 10px black; */
}

.card-statistics.varient-4 {
    background: linear-gradient(rgb(15, 162, 182), blue);
    /* box-shadow: 0 0 10px black; */
}

.head-color {
    /* background-color:rgb(23, 8, 77); */
    background: linear-gradient(rgb(18, 122, 163), #060647);
    /* background:linear-gradient(to bottom right,#00ff4c,#023d19) */
}

.side {
    padding-top: 20px;
    background: linear-gradient(#060647, rgb(18, 122, 163));
}

.side-item {
    background-color: transparent;
}

.card-statistics .card-body .card-title {
    font-size: 1em;
    padding-top: 5px;
}

.card-statistics.varient-1 .card-body .card-title {
    color: white;
}

.card-statistics.varient-2 .card-body .card-title {
    color: white;
}

.card-statistics.varient-3 .card-body .card-title {
    color: white;
}

.card-statistics.varient-4 .card-body .card-title {
    color: white;
}

.card-statistics .card-body .card-text {
    font-size: 0.9em;
    font-weight: 400px;
    color: white;
}

.sidebar-heading {
    color: white;       
}

.page-content {
    margin: 20px 0 0 0;
}

.page-title {
    margin-top: 40px;
}

.button {
    margin-left: 30rem;
}

.user {
    width: 75%;
    margin-top: 10%;
    margin-left: 20px;
}
label {
    color: black;
}

.btn-default {
    margin-left: 130px;
}
.bn {
    margin-left: 250px;
}
.sidebar {
    width: 15.6rem;
}
.side-icon {
    padding-right: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

#tb {
    width: 50%;
}

.btn-lg {
    margin-left: 80%;
}

.patients {
    padding-top: 9px;
}

.bttn {
    text-align: center;
}

.edit {
    margin-left: 20px;
    font-size: small;
}

.table-row {
    margin-left: 50px;
    margin-top: 20px;
}